In [1]:
# Create dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load in csv
cities = pd.read_csv('Resources/city_data.csv')
riders = pd.read_csv('Resources/ride_data.csv')

In [24]:
# Display dataframe shape for city_info
cities.shape

(126, 3)

In [25]:
# Display dataframe shape for ride_info
riders.shape

(2375, 4)

In [36]:
# Merge datasets on 'city' so that no data is lost
combined_data = pd.merge(riders, cities, how='outer', on='city')
combined_data

,city,date,fare,ride_id,driver_count,type
0,Karenfurt,2017-01-01 19:03:03,32.90,3383346995405,19,Urban
1,Karenfurt,2017-01-01 05:30:46,22.47,18848561829,19,Urban
2,Karenfurt,2017-01-02 21:58:48,4.73,7929949609958,19,Urban
3,Karenfurt,2017-01-01 03:36:42,21.65,2940464578531,19,Urban
4,Karenfurt,2017-01-03 04:34:51,34.87,2170143080929,19,Urban
5,Karenfurt,2017-01-02 23:08:18,21.41,1219739563291,19,Urban
6,Karenfurt,2017-01-02 15:10:17,30.42,8173474759735,19,Urban
7,Karenfurt,2017-01-02 22:14:16,20.65,48458607747,19,Urban
8,Karenfurt,2017-01-02 02:02:18,23.59,2774948582918,19,Urban
9,Karenfurt,2017-01-02 09:07:26,24.20,3120049625167,19,Urban
10,Karenfurt,2017-01-02 09:30:35,43.05,5171057947978,19,Urban
11,Karenfurt,2017-01-03 10:16:20,27.61,3087829158850,19,Urban
12,Karenfurt,2017-01-03 08:30:28,42.40,6132096785869,19,Urban
13,Karenfurt,2017-01-01 06:05:19,38.52,6417084066534,19,Urban
14,Karenfurt,2017-01-02 19:34:40,11.76,3198922456955,19,Urban
15,Karenfurt,2017-01-01 09:51:19,41.29,2275156965932,19,Urban
16,Karenfurt,2017-01-02 06:44:25,36.98,1205439157366,19,Urban
17,Melissaborough,2017-01-01 08:55:58,19.59,2791839504576,15,Urban
18,Melissaborough,2017-01-02 18:40:34,17.73,6817245215298,15,Urban
19,Melissaborough,2017-01-02 04:37:01,20.88,3220484578919,15,Urban
20,Melissaborough,2017-01-01 00:09:46,26.12,7153857415916,15,Urban
21,Melissaborough,2017-01-01 23:07:17,25.79,1488790166684,15,Urban
22,Melissaborough,2017-01-01 23:11:26,34.98,6892029262149,15,Urban
23,Melissaborough,2017-01-02 13:23:57,7.49,9465996268581,15,Urban
24,Melissaborough,2017-01-01 14:50:53,16.79,208766967340,15,Urban
25,Melissaborough,2017-01-02 18:05:59,41.98,1417330615436,15,Urban
26,Melissaborough,2017-01-01 00:15:07,18.25,5183462885028,15,Urban
27,Melissaborough,2017-01-01 10:29:55,37.81,878587492286,15,Urban
28,Melissaborough,2017-01-02 19:00:00,19.04,3801347700793,15,Urban
29,Melissaborough,2017-01-01 18:51:16,37.21,3053041249300,15,Urban
...,...,...,...,...,...,...
2345,South Angela,2017-01-03 02:43:59,25.20,7719170782298,9,Rural
2346,South Angela,2017-01-03 00:57:21,58.86,9559661684858,9,Rural
2347,South Angela,2017-01-02 07:20:39,13.27,7624280622573,9,Rural
2348,South Angela,2017-01-03 06:54:00,45.87,3856930882264,9,Rural
2349,South Angela,2017-01-03 05:44:30,15.63,3062396769418,9,Rural
2350,South Angela,2017-01-02 02:16:23,44.93,251070273676,9,Rural
2351,Port Darrellhaven,2017-01-01 06:20:30,24.00,792456027334,10,Rural
2352,Port Darrellhaven,2017-01-03 12:13:45,59.94,774396990381,10,Rural
2353,Port Darrellhaven,2017-01-01 05:46:48,45.68,6638823058393,10,Rural
2354,Port Darrellhaven,2017-01-03 03:05:40,23.54,3948790730509,10,Rural
2355,Port Darrellhaven,2017-01-01 11:34:12,52.88,1444325423615,10,Rural
2356,Port Darrellhaven,2017-01-03 07:23:10,14.61,4374249469802,10,Rural
2357,Port Darrellhaven,2017-01-01 04:10:10,30.40,392383576464,10,Rural
2358,Smithville,2017-01-01 10:54:56,24.57,6460764934340,8,Rural
2359,Smithville,2017-01-02 19:37:14,47.17,1641641181728,8,Rural
2360,Smithville,2017-01-01 10:03:27,25.56,4643032229481,8,Rural
2361,Smithville,2017-01-03 00:58:38,18.93,3838627399897,8,Rural
2362,Smithville,2017-01-01 17:41:10,20.70,6317681857392,8,Rural
2363,Smithville,2017-01-02 22:48:22,15.59,3457119394822,8,Rural
2364,Hoganfort,2017-01-02 20:16:34,40.93,6483221995142,5,Rural
2365,Hoganfort,2017-01-02 18:47:37,43.55,4196138442037,5,Rural
2366,Hoganfort,2017-01-02 18:35:37,44.82,167986984288,5,Rural
2367,Hoganfort,2017-01-01 21:25:09,18.67,3640401335874,5,Rural
2368,Hoganfort,2017-01-03 09:23:12,54.73,1963628462690,5,Rural
2369,Hoganfort,2017-01-02 12:58:49,12.30,1724026188236,5,Rural
2370,Hoganfort,2017-01-03 09:41:46,37.83,2074313960632,5,Rural
2371,Hoganfort,2017-01-02 12:11:54,21.91,9413449360993,5,Rural
2372,Hoganfort,2017-01-02 20:30:22,22.28,6317412291785,5,Rural
2373,Hoganfort,2017-01-03 12:15:48,19.35,685572928589,5,Rural
2374,Hoganfort,2017-01-01 04:12:33,24.47,8232643860877,5,Rural

In [27]:
# Reset the indexes on both dataframes
#cities.set_index('city', inplace=True)
#riders.set_index('city', inplace=True)

In [28]:
# Append the two dataframes
#combined = cities.append(riders)
#combined.head()

In [29]:
# Check shape of combined dataframes
combined_data.shape

(2375, 6)

In [33]:
# Check the amount of missing values in each dataset
combined_data.isnull().sum()

city            0
date            0
fare            0
ride_id         0
driver_count    0
type            0
dtype: int64

In [9]:
# Replacing missing values
#combined['date'].fillna(value='-', inplace=True)
#combined['driver_count'].fillna(value='-', inplace=True)
#combined['fare'].fillna(value='-', inplace=True)
#combined['ride_id'].fillna(value='-', inplace=True)
#combined['type'].fillna(value='-', inplace=True)

In [45]:
# Create a group based on the values in the 'type' column
resident_group = combined_data.groupby('type')

# Count the number of times each type appears in our group
count_resident = resident_group['city'].count()

count_resident

type
Rural        125
Suburban     625
Urban       1625
Name: city, dtype: int64

In [ ]:
# Display bubble plot